* {
	all: unset;
}

$tiny: 5px;
$small: 10px;
$medium: 20px;
$big: 100px;

$bg: #282828;
$fg: #ebdbb2;
$altred: #fb4934;
$altgreen: #b8bb26;
$altyellow: #fabd2f;
$altblue: #83a598;
$altpurple: #d3869b;
$altaqua: #8ec07c;
$altorange: #fe8019;
$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$orange: #d65d0e;
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;
$gray: #928374;
$fg4: #a89984;
$fg3: #bdae93;
$fg2: #d5c4a1;
$fg1: #ebdbb2;
$fg0: #fbf1c7;

.notifications {
	background-color: transparent;
	color: $fg;
	font-family: JetBrains Mono;
	font-size: 10pt;
}

.notification {
	background-color: $bg;
	border: 1px solid $fg;

	padding: $medium;
	margin-bottom: $tiny;
}

.notifications .critical {
	border: 2px solid $red;
}

.notification .icon {
	margin-right: $small;
}

.notification .body {
	margin-top: $small;
}

.notification .app-name {
	color: $gray;
}

.notification .buttons {
	margin-top: $small;
}

.notification button {
	padding: $tiny;
}

.notification button.visible {
	border: 1px solid $fg;
}

.notification button:hover {
	background-color: $fg;
	color: $bg;
	font-weight: bold;
}
